*.iml
.gradle
/local.properties
/.idea
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

.kotlin/

# release signing (keep local, back it up!)
release.keystore
keystore.properties
